.container {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin: 30px auto;
    width: 90%;
    height: 90vh;
    /* background-color: aqua; */
    border-radius: 15px;
}

.person-list {
    background-color: #e0f7ef;
    width: 20%;
    border-radius: 15px;
}

.game-chat {
    background-color: #e0f7ef;
    width: 65%;
    border-radius: 15px;
    padding: 10px;
    display: none;
}

.toogle-chat {
    display: block;
}