<button class="cta" type="submit" (click)="exit()">
  <span>Salir!</span>
  <svg width="15px" height="10px" viewBox="0 0 13 10">
    <path d="M1,5 L11,5"></path>
    <polyline points="8 1 12 5 8 9"></polyline>
  </svg>
</button>
<div class="chat-container">


  <div class="messages-container">
    @for (item of messages(); track $index) {
    <div class="message-item" [class.server-message]="userInfo?.user_name !== item.userName">
      <p class="user-name">{{item.userName}} :</p><br>
      <p>{{item.messsage}}</p>
    </div>
    }
  </div>

  <div class="form-messages-container">
    <input [formControl]="messageInputControl" (keydown.enter)="sendMessage()" required class="input-message"
      type="text" placeholder="Escribe un mensaje">
    <button (click)="sendMessage()" class="button-send-message">Enviar</button>
  </div>
</div>
