<div class="container-join-room">
  <h1>Unirse a sala</h1>
  <form (submit)="joinRoom($event)">
    <!-- Campo de apodo -->
    <label for="apodo">Apodo:</label>
    <input [formControl]="nickName()" type="text" id="apodo" name="apodo" placeholder="Introduce tu apodo" required>

    <!-- Mensaje de error para apodo -->
    @if (nickName().invalid && nickName().touched) {
    <div>
      @if (nickName().hasError('required')) {
      <small>
        El apodo es obligatorio.
      </small>
      }
    </div>
    }

    <!-- Campo de código -->
    <label for="codigo">Código:</label>
    <input [formControl]="code()" type="text" id="codigo" name="codigo" placeholder="Introduce un código" required>

    <!-- Mensaje de error para código -->
    @if (code().invalid && code().touched) {
    <div>
      @if (code().hasError('required')) {
      <small>
        El código es obligatorio, por favor validelo.
      </small>
      }


    </div>
    }
    @if (invalidCodeMessage) {
    <small>
      Codigo Invalido
    </small>
    }


    <!-- Botón para unirse a la sala -->
    <button class="button-join-room" type="submit">Unirse</button>

  </form>
</div>